.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #27292d;
  color: white;
  padding: .8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: .2rem;
}

.header-images:hover a {
  opacity: 0.8;
}